<!DOCTYPE html>
<html data-cdn="<%= cdn_root %>" >
<head>
    <title><%= data.title %></title>
    <script type="text/javascript" src="js/<%= data.name %>-vendors.<%= suffix %>js"></script>
    <script type="text/javascript" src="js/<%= data.name %>.<%= suffix  %>js"></script>
    <link rel="stylesheet" type="text/css" href="css/<%= data.name %>-vendors.<%= suffix %>css">
    <link rel="stylesheet" type="text/css" href="css/<%= data.name %>.<%= suffix %>css">

</head>
<body>
<script type="text/javascript">



    

</script>
</body>
</html> 