{% macro  linkList(routes, root, class) %}
    {% import _self as macros %}
    <ul data-route="{{ root }}" class="{{ class }}">
        {% for route in routes %}
            <li data-route="{{ route.path }}" class="nav-item">
                {% if(route.view) %}
                <a href="{{ root ~ route.path }}">{{ route.name }}</a>
                {% else %}
                <span>{{ route.name }}</span>
                {% endif %}
                {% if route.paths %}

                    {{  macros.linkList(route.paths, route.path, "link-list")  }}
                {% endif %}
            </li>

        {% endfor %}
    </ul>

{% endmacro %}